@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-Item: #6475ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  direction: rtl;
}

/* start header css */

.Headerbg {
  background-image: url("../src/img/e90567c741ffabd70d85c041e7d893de 1.png");
  background-size: cover;
  height: 370px;
}

.inputHeader {
  border-radius: 84.762px;
  background: #fff;
  box-shadow: 0px 4.84357px 162.25955px 0px rgba(2, 0, 85, 0.15);
  width: 248px;
  height: 51px;
  flex-shrink: 0;
  position: relative;
  left: 10px;
  right: 9px;
  padding-right: 45px;
  color: #0a0047;
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  outline: none;
}

.RamsarHeader {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4.843568801879883px 19.061412811279297px #fff;
  font-family: ModamFaNum;
  font-size: 28.876px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Grouping */

.ItemGrouping {
  width: 60px;
  height: 60px;
}

.TitelGrouping {
  color: #0a0047;
  font-family: ModamFaNum;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ImgsItemGrouping {
  position: relative;
  bottom: 179px;
  right: 16px;
  width: 28px;
}

.NewGrouping {
  color: white;
  height: 18px;
  width: 36px;
  font-size: 13px;
  text-align: center;
  border-radius: 18.567px 12.378px 0px 18.567px;
  background: #24b26e;
  box-shadow: 0px 2.4756px 45.79864px 0px #24b26e;
  z-index: 1;
  position: relative;
  bottom: 55px;
  right: 27px;
}
